<a href="https://colab.research.google.com/github/jfaiq94/exercises-colab/blob/main/1_Datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

Using the built-in datetime module, create date object for the given dates:

* 2021-01-01
* 31/7/21
* May 7, 1990

Then print these objects to the console.

**Tip**:

 help(datetime.date)

Help on class date in module datetime:

class date(builtins.object)
  date(year, month, day) --> date object

**Expected Results:**

* 2021-01-01
* 2021-07-31
* 1990-05-07

In [1]:
import datetime

In [4]:
d1 = datetime.date(2021, 1, 1)
d2 = datetime.date(2021, 7, 31)
d3 = datetime.date(1990, 5, 7)

In [5]:
print(d1)
print(d2)
print(d3)

2021-01-01
2021-07-31
1990-05-07