<a href="https://colab.research.google.com/github/jfaiq94/exercises-colab/blob/main/1_Datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

Using the built-in datetime module, create date object for the given dates:

* 2021-01-01
* 31/7/21
* May 7, 1990

Then print these objects to the console.

**Expected Results:**

* 2021-01-01
* 2021-07-31
* 1990-05-07

In [1]:
import datetime

In [4]:
d1 = datetime.date(2021, 1, 1)
d2 = datetime.date(2021, 7, 31)
d3 = datetime.date(1990, 5, 7)

In [5]:
print(d1)
print(d2)
print(d3)

2021-01-01
2021-07-31
1990-05-07

# Exercise 2

Using the built-in datetime module, create time objects for the given hours:

* 12:00:00
* 6:30:00
* 9:15:00

Then print these objects to the console.

**Expected Results**
* 12:00:00
* 06:30:00
* 09:15:00

In [6]:
import datetime

In [7]:
t1 = datetime.time(12, 0, 0)
t2 = datetime.time(6, 30, 0)
t3 = datetime.time(9, 15, 0)

In [8]:
print(t1)
print(t2)
print(t3)

12:00:00
06:30:00
09:15:00

# Exercise 3

Using the built-in datetime module, create datetime objects for the given dates:

* Jul 20 2020 11:30:00
* 1990-03-10 12:00:00
* 2021-01-01 00:00:00

**Expected Results**

* 2020-07-20 11:30:00
* 1990-03-10 12:00:00
* 2021-01-01 00:00:00

In [9]:
import datetime

dt1 = datetime.datetime(2020, 7, 20, 11, 30, 0)
dt2 = datetime.datetime(1990, 3, 10, 12, 0, 0)
dt3 = datetime.datetime(2021, 1, 1)

print(dt1)
print(dt2)
print(dt3)

2020-07-20 11:30:00
1990-03-10 12:00:00
2021-01-01 00:00:00

# Exercise 4

Using the built-in datetime module, determine the number of days between 2020-07-21 and 2020-12-31

**Expected Result**

Number of days: 163

In [27]:
import datetime

str_d1 = "2020-07-21"
str_d2 = "2020-12-31"

d1 = datetime.datetime.strptime(str_d1, "%Y-%m-%d")
d2 = datetime.datetime.strptime(str_d2, "%Y-%m-%d")

delta = d2 - d1

print(f"Number of days: {delta.days}")

Number of days: 163