<a href="https://colab.research.google.com/github/jfaiq94/exercises-colab/blob/main/1_Datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datetime Exercises

### Exercise 1

Using the built-in datetime module, create date object for the given dates:

* 2021-01-01
* 31/7/21
* May 7, 1990

Then print these objects to the console.

**Expected Results:**

* 2021-01-01
* 2021-07-31
* 1990-05-07

In [ ]:
import datetime

In [ ]:
d1 = datetime.date(2021, 1, 1)
d2 = datetime.date(2021, 7, 31)
d3 = datetime.date(1990, 5, 7)

In [ ]:
print(d1)
print(d2)
print(d3)

2021-01-01
2021-07-31
1990-05-07

### Exercise 2

Using the built-in datetime module, create time objects for the given hours:

* 12:00:00
* 6:30:00
* 9:15:00

Then print these objects to the console.

**Expected Results**
* 12:00:00
* 06:30:00
* 09:15:00

In [ ]:
import datetime

In [ ]:
t1 = datetime.time(12, 0, 0)
t2 = datetime.time(6, 30, 0)
t3 = datetime.time(9, 15, 0)

In [ ]:
print(t1)
print(t2)
print(t3)

12:00:00
06:30:00
09:15:00

### Exercise 3

Using the built-in datetime module, create datetime objects for the given dates:

* Jul 20 2020 11:30:00
* 1990-03-10 12:00:00
* 2021-01-01 00:00:00

**Expected Results**

* 2020-07-20 11:30:00
* 1990-03-10 12:00:00
* 2021-01-01 00:00:00

In [ ]:
import datetime

dt1 = datetime.datetime(2020, 7, 20, 11, 30, 0)
dt2 = datetime.datetime(1990, 3, 10, 12, 0, 0)
dt3 = datetime.datetime(2021, 1, 1)

print(dt1)
print(dt2)
print(dt3)

2020-07-20 11:30:00
1990-03-10 12:00:00
2021-01-01 00:00:00

### Exercise 4

Using the built-in datetime module, determine the number of days between 2020-07-21 and 2020-12-31

**Expected Result**

Number of days: 163

In [ ]:
import datetime

str_d1 = "2020-07-21"
str_d2 = "2020-12-31"

d1 = datetime.datetime.strptime(str_d1, "%Y-%m-%d")
d2 = datetime.datetime.strptime(str_d2, "%Y-%m-%d")

delta = d2 - d1

print(f"Number of days: {delta.days}")

Number of days: 163

### Exercise 5

Determine the exact time elapsed between the dates:

* Jul 20 2020 11:30:00
* 2021-02-20 10:25:00

**Expected Result**
214 days, 22:55:00

In [ ]:
import datetime

dt1 = datetime.datetime(2020, 7, 20, 11, 30, 0)
dt2 = datetime.datetime(2021, 2, 20, 10, 25, 0)

delta = dt2 - dt1

print(delta)

214 days, 22:55:00

## Exercise 6

Using the datetime.datetime.strftime() method format the following date

2021-04-20 11:30:00

**Expected Results**

* 2021-04-20
* 20-04-2021
* 04-2021
* April-2021
* 20 April, 2021
* 2021-04-20 11:30:00
* 04/20/21 11:30:00
* 20(Tue) April 2021

In [1]:
import datetime

In [2]:
dt = datetime.datetime(2021, 4, 20, 11, 30, 0)
print(dt)

2021-04-20 11:30:00

In [15]:
print(dt.strftime("%Y-%m-%d"))
print(dt.strftime("%d-%m-%Y"))
print(dt.strftime("%m-%Y"))
print(dt.strftime("%B-%Y"))
print(dt.strftime("%d %B, %Y"))
print(dt.strftime("%Y-%m-%d %H:%M:%S"))
print(dt.strftime("%d/%m/%y %H:%M:%S"))
print(dt.strftime("%d(%a) %B %Y"))

2021-04-20
20-04-2021
04-2021
April-2021
20 April, 2021
2021-04-20 11:30:00
20/04/21 11:30:00
20(Tue) April 2021

## Exercise 7

datetime.datetime.strptime(), parse the following *str* objects:

* date_str_1 = '3 March 1995'
* date_str_2 = '3/9/1995'
* date_str_3 = '21-07-2021'

**Expected Results**

* 1995-03-03 00:00:00
* 1995-09-03 00:00:00
* 2021-07-21 00:00:00

In [16]:
from datetime import datetime

In [17]:
date_str_1 = "3 March 1995"
date_str_2 = "3/9/1995"
date_str_3 = "21-07-2021"

In [18]:
d1 = datetime.strptime(date_str_1, "%d %B %Y")
d2 = datetime.strptime(date_str_2, "%d/%m/%Y")
d3 = datetime.strptime(date_str_3, "%d-%m-%Y")

In [19]:
print(d1)
print(d2)
print(d3)

1995-03-03 00:00:00
1995-09-03 00:00:00
2021-07-21 00:00:00

## Exercise 8

Calculate the number of days until the end of year

**Expected Results**

* "Number of days until the end of the year: x"

In [20]:
import datetime

In [21]:
today = datetime.date.today()
print(today)

2022-06-18

In [22]:
end_of_year = datetime.date(today.year, 12, 31)
print(end_of_year)

2022-12-31

In [23]:
delta = end_of_year - today
print(delta)

196 days, 0:00:00

In [24]:
print(f"Number of days until the end of the year: {delta.days}")

Number of days until the end of the year: 196

## Exercise 9

Calcualte the exact time remaining until the end of the current year

**Expected Results**
* "Until the end of the year: x"

In [25]:
import datetime

In [27]:
now = datetime.datetime.now()
print(now)

2022-06-18 22:01:38.729877

In [31]:
end_of_year = datetime.datetime(now.year + 1, 1, 1)
print(end_of_year)

2023-01-01 00:00:00

In [33]:
delta = end_of_year - now
print(f"Until the end of the year: {delta}")

Until the end of the year: 196 days, 1:58:21.270123

## Exercise 10

Use the date and timedelta classes from the given date "2020-01-01 00:00:00 to get the date:

* shifted by 7 days
* shifted by 30 days
* shifted by 30 hours
* shifted by 15 minutes

**Expected Results**

* 2020-01-08 00:00:00
* 2020-01-31 00:00:00
* 2020-01-02 06:00:00
* 2020-01-01 00:15:00

In [34]:
import datetime

In [35]:
dt = datetime.datetime(2020, 1, 1)
print(dt)

2020-01-01 00:00:00

In [37]:
print(dt + datetime.timedelta(days=7))
print(dt + datetime.timedelta(days=30))
print(dt + datetime.timedelta(hours=30))
print(dt + datetime.timedelta(minutes=15))

2020-01-08 00:00:00
2020-01-31 00:00:00
2020-01-02 06:00:00
2020-01-01 00:15:00